* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


body {
    width: 100vw;
    background-color: #212428;
    font-family: Arial, Helvetica, sans-serif;
}

.nevbar{
    width: 100%;
    height: 70px;
    background-color:#212428 ;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}




.right-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 0 5rem; */
}

.unoder-list {
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    align-items: center;
    list-style-type: none;
}


.unoder-list li:hover {
    color: red;
}
.iam{
    color: #fff;
}

.unoder-list a {
    text-decoration: none;
    color: #c4cfdecc;
    font-size: 13px;
    
}


.unoder-list a:hover  {
    color: red;
}




.shopping {
    width: 40px;
    height: 35px;
    background-color: #1E2024;
    margin-right: 1rem;
    box-shadow: 0 0 8px #ffffff21;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-groups {
    width: 85px;
    height: 40px;
    background-color:#1E2024;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px #ffffff15;
    border-radius: 10px;

}


.button-groups button {
    background-color: transparent;
    border: none;
    font-size: 10px;
    color: red;

}
.button-groups:hover {
    transform: translate(0%,-10%);
    transition-duration: 0.5s;
    cursor: pointer;
}


.groups {
    gap: 1rem;
}


.content {
    width: 100%;
    height: auto;
    padding: 5rem 2rem 0 2rem;
    display: flex;
    gap: 1.5rem;
}

.left-content {
    width: 40%;
}


.fast {
    width: 100%;
    height: 500px;
    background-color: #212428;
    padding: 2rem;
    box-shadow: 10px 10px 8px #ffffff0c;
    border-radius: 10px;

}
.foter-content {
    width: 100%;
    height: 150px;
    background-color:#212428;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 10px 10px 8px #ffffff0c;
    border-radius: 10px;
}


.download {
    color: #c4cfdecc;
    font-family: Arial, Helvetica, sans-serif;
}


.button-groups2 {
    display: grid;
    grid-template-columns: auto auto;
}


.button-groups2 button {
    outline: hidden;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    padding: 1rem;
    color: red;
    width: 150px;
    height: 50px;
    background-color:#212428;
    box-shadow: 10px 10px 8px #0000000e;
    border-radius: 10px;
}

.button-groups2 button:hover {
    transform: translate(0%,-10%);
    transition-duration: 0.5s;
    cursor: pointer;
}


.fast:hover {
    transform: translate(0%,-1%);
    transition-duration: 0.5s;

}


.left-hader {
    width: 100%;
}

.profile {
    width: 30px;
    height: 30px;
    background-color:#FF014F;
    border-radius: 50%;
    outline:15px solid rgba(225,0 ,0 ,0.30 );
    display: flex;
    cursor: pointer;
}





.para1 {
    color: #ffffff;
    margin-top: 2rem;
    font-size: 50px;
    font-weight: 700;
}

.para2 {
    color: #FF014F;
    font-size: 50px;
    font-weight: 700;
}


.para3 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #c4cfdecc;
    margin-top: 0.5rem;
}


.left-foter {
    margin-top: 2rem;
}



.email {
    display: flex;
    color:#c4cfdecc;
    gap: 1rem;
    padding: 0.5rem;
}



.right-content {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-child {
    width: 90%;
    height: 600px;
    background-color:#212428;
    padding: 3rem;
    box-shadow: 0 0 20px #ffffff21;
    border-radius: 10px;

}


.right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}


.right-img img:hover {
    transform:scale(1.1,1.1);
    transition-duration: 1s;
}

.right-img img {
    width: 100%;
    height: 100%;
}

.right-child2 {
    width: 100%;
    height: 100%;
}

.hr{
    width: 100%;
    height: 1px;
    margin-top: 8rem;
    background-color: black;
}


.experience {
    margin-top: 5rem;
}


.experience-hader {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.experience-hader p {
    color: rgba(255, 0, 0, 0.644);
}

.experience-hader h1{
    color:#C4CFDE;
    font-size: 60px;
}

.over {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}



.box-groups2{
    width: 100vw;
    height: 100vh;
    margin-top: 5rem;
}

.fast-group{
    width: 80%;
    height: 240px;
    background-color:#212428;
    box-shadow: 0 0 20px #ffffff21;
    padding: 2rem;
    display: flex;
    border-radius: 10px;
    margin-top: 3rem;
}


.box-fast-img {  
    background-color:#212428;
    /* padding: 3rem; */
    width: 30%;
    height:100%;
}
.experience-img{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

.experience-img img{
    width: 100%;
    height: 100%;
}

.experience-img img:hover {
    transform:scale(1.1,1.1);
    transition-duration: 1s;
}

.box-text{
    margin-left: 2rem;
}

.day {
    width: 110px;
    height: 25px;
    background-color: #545961;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.day p{
    color: #fff;
}


.software{
    margin-top: 1rem;
    font-size: 30px;
}

.software p {
    color: #C4CFDE;
}

.founder {
    margin-top: 2rem;
    font-size: 25px;
}
.founder p {
    color: #C4CFDE;
}
.xyz{
    font-size: 20px;
}

.microsoft{
    margin-top: 1rem;
    /* font-size: 40px; */
}

.microsoft P {
    color: #7E848F;
}


.box-button button {
    outline: hidden;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    padding: 1rem;
    color: red;
    width: 150px;
    height: 50px;
    background-color:#212428;
    box-shadow: 10px 10px 8px #0000000e;
    border-radius: 10px;
    /* margin-left:14rem ; */
    margin-top: 4rem;
}


.box-button:hover {
    transform: translate(0%,-5%);
    transition-duration: 0.5s;
    cursor: pointer;
}


.fast1{
    margin-left: 15rem;
}

.second{
    margin-left: 6rem;
}


.three{
    margin-left: 8.7rem;
}


.my {
    margin-top: 3rem;
}




.resume{
    width: 100%;
    height: 100px;
    background-color: #1E2024;
    margin-top: 5rem;
    box-shadow: 0px 0px 8px #92929254;
    border-radius: 20px;
    display: flex;
}


.education{
    width: 25%;
    height: 100%;
    background-color:#212529;
    box-shadow: 0px 0px 8px #92929254;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





.education a{
    text-decoration: none;
    color: red;

}



.standard {
    width: 25%;
    height: 100%;
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.standard:hover{
    background-color:#212529;
    box-shadow: 0px 0px 8px #92929254;
    color: red;
}

.standard a:hover{
    color: red;
}


.standard a {
    text-decoration: none;
    color: #fff;
}


.quality{
    margin-top: 5rem;
}
.fast-quality p{
    color: red;
}
.fast-quality h1{
    color: #C4CFDE;
    margin-top: 1rem;
}

.fast-box{
    width: 500px;
    height: 400px;
    background-color: red;
    padding-top: 3rem;
    /* margin-top:; */
}




.left-box{
    padding: 4rem 0 0 0.5rem;
}

.padding{
    padding-left:5rem ;
    border-left: 7px solid rgb(0, 0, 0);
    
}



.box2,
.box3{
    margin-top: 1rem;
}


.rony{
    width: 80px;
    height: 5px;
    background-color: #000000;
    margin-left:-5rem;
    position: relative;
    /* margin-top: 50rem; */
}
.mony{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: rgb(0, 0, 0); */
    outline: 5px solid black;
    margin-top: -22.3rem;
    margin-left: -5.5rem;
    position: absolute;
    background-color: transparent;
}
.mony:hover{
color: red;
cursor: pointer;
}


.blog{
    display: flex;
    gap: 1rem;
}

.fast-blog{
    width: 400px;
    height: 430px;
    background-color:#241f1f;
    padding: 2rem;
}
.blog-img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
}


.blog-img img {
    width: 100%;
    height: 100%;
}


.blog-img img:hover{
    transform:scale(1.1,1.1);
    transition-duration: 1s;

}

.development {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.fast-para{
    color: red;
    font-size: 12px;
}
.second-para{
    color: #fff;
}

.foter-text{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.foter-text:hover{
    color: red;
}


.foter{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.foter-left{
    width: 35%;
    height:95%;
    background-color: red;
    padding: 2rem;
    /* display: flex;
    justify-content: center; */
}

.foter-left-img{
    overflow: hidden;
    height: 100%;

}

.hover{
    width:90%;
    height: 30%;
    overflow: hidden;
    border-radius: 10px;
}




.foter-left-img img{
    width:100%;
    height: 100%;
}

.foter-left-img:hover{
    transform:scale(1.1,1.1);
    transition-duration: 1s;
}

.foter-right{
    width: 65%;
    height: 95%;
    background-color: red;
    /* margin-top: 2rem; */

}